@-webkit-viewport {width: device-width;}
@-moz-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

body {
    background-color: #43443D;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.8em;
    margin: 0px;
    padding: 0px;
    color: #000;
}

header {
    background-color: #fff;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

#holder_home {
    width: 10%;
    display: inline-block;
}

input {
    cursor: pointer;
    -webkit-background-size: cover;
    background-size: cover;
}

#button_home {
    width: 6em;
    height: 6em;
    background-image:  url("../images/home.jpg");
    border: none;
    display: block;
    margin: 1em auto;
}

#button_home:hover {
    border: 1px solid #00f;
    border-radius: 1em;
}

#holder_logo {
    width: 79%;
    display: inline-block;
}

#logo {
    display: block;
    margin: 0 auto;
}

#holder_back {
    width: 9%;
    display: inline-block;
}

#button_back {
    width: 6em;
    height: 6em;
    background-image:  url("../images/back.jpg");
    border: none;
    display: block;
    margin:1em auto;
}

#button_back:hover {
    border: 1px solid #00f;
    border-radius: 10px;
}

#spacer {
    height: 18vh;
}

#holder_standard, #holder_excel, #holder_robot, #holder_spray, #holder_standard_existing, #holder_standard_hoofcount, #holder_standard_gate, #holder_standard_walls {
    width: 24.5%;
    height:81%;
    display: inline-block;
    text-align: center;
    font-size: 1.4em;
    color: #fff;
}

#button_standard {
    width: 200px;
    height: 266px;
    background-image:  url("../images/home_standard_thumb.jpg");
}

#button_excel {
    width: 200px;
    height: 266px;
    background-image:  url("../images/home_excel_thumb.jpg");
}

#button_robot {
    width:354px;
    height: 266px;
    background-image:  url("../images/home_robot_thumb.jpg");
}

#button_spray {
    width: 200px;
    height: 266px;
    background-image:  url("../images/home_spray_thumb.jpg");
}

#button_standard_existing {
    width: 200px;
    height: 266px;
    background-image: url("../images/standard_existing_thumb.jpg");
}

#button_standard_hoofcount {
    width: 200px;
    height: 266px;
    background-image: url("../images/standard_hoofcount_thumb.jpg");
}

#button_standard_gate {
    width: 200px;
    height: 266px;
    background-image: url("../images/standard_gate_thumb.jpg");
}

#button_standard_walls {
    width: 200px;
    height: 266px;
    background-image: url("../images/standard_walls_thumb.jpg");
}

#holder_lely, #holder_fullwood, #holder_delaval, #holder_excel_existing, #holder_excel_hoofcount, #holder_excel_walls, #holder_lely_h2h, #holder_lely_a4, #holder_lely_a3 {
    width: 32.9%;
    height:81%;
    display: inline-block;
    text-align: center;
    font-size: 1.4em;
    color: #fff;
}

#button_excel_existing {
    width: 200px;
    height: 266px;
    background-image:  url("../images/excel_existing_thumb.jpg");
}

#button_excel_hoofcount {
    width: 200px;
    height: 266px;
    background-image:  url("../images/excel_hoofcount_thumb.jpg");
}

#button_excel_walls {
    width: 200px;
    height: 266px;
    background-image:  url("../images/excel_walls_thumb.jpg");
}

#button_lely {
    width: 200px;
    height: 266px;
    background-image:  url("../images/robot_lely_thumb.jpg");
}

#button_fullwood {
    width:354px;
    height: 266px;
    background-image:  url("../images/robot_fullwood_thumb.jpg");
}

#button_delaval {
    width: 200px;
    height: 266px;
    background-image:  url("../images/robot_delaval_thumb.jpg");
}

#button_lely_h2h {
    width:354px;
    height: 266px;
    background-image:  url("../images/lely_h2h_thumb.jpg");
}

#button_lely_a4 {
    width: 200px;
    height: 266px;
    background-image:  url("../images/lely_a4_thumb.jpg");
}

#button_lely_a3 {
    width: 200px;
    height: 266px;
    background-image:  url("../images/lely_a3_thumb.jpg");
}

#holder_tel, #holder_mail, #holder_twitter {
    width: 32.9%;
    display: inline-block;
    text-align: center;
}

.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}